#root,html,body{
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

.app{
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('./image/bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* color:white; */
}

.card{
    background-color: whitesmoke;
    width: 60%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 23px;
    padding: 2%;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Prosto One', cursive;
}

